[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
python-dotenv = "*"
pydantic = "*"
passlib = "*"
datetime = "*"
uvicorn = "*"
mysql-connector-python = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
librosa = "*"
tensorflow = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.10"
